.image{
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
}

.image>img{
  width: 40rem;
  margin-left: 11rem;
}

#gauche{
  float: right;
  margin: 5rem;
  width: 8rem;
  height: 2rem;
}

h4,li{
  margin-left: 1rem;
}


@media screen and (max-width : 1600px){
  .image{
    flex-direction: column;
  }

  .image>img{
    margin-left: 4rem;
    margin-bottom: 1rem;
    width: 20rem;
  }

  li{
    margin-bottom: -4rem;
  }

  *{
    font-size: smaller;   
  }
}
